body {
  background-color: aqua;
}
h1 {
  display: flex;
  justify-content: center;
  background-color: red;
}
.redhood {
  display: flex;
  padding-left: 34%;
}
p {
  display: flex;
  margin-left: 20%;
}
h2 {
  display: flex;
  justify-content: center;
  color: green;
}
.forest {
  display: flex;
  padding-left: 34%;
}
.wolf {
  display: flex;
  padding-left: 15%;
}
.thewolf {
  display: flex;
  align-items:center;
  
  
}
